.Home{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Home>div>*{
    display: block;
    
    text-align: center;
}
.Home>div>img{
    width: 40vw;
}
.Home>div>a{
    color: #00ffff;
    padding: 1vw;
    border: 1px #00ffff solid;
    border-radius:15px;
    text-decoration: none;
    width: 10vw;
    transition: all 0.3s ease;
}
.Home>div>a:hover{
    color: white;
    padding: 1vw;
    border: 1px #00ffff98 solid;
    border-radius:15px;
    background-color: #00ffff98 ;
    text-decoration: none;
    width: 10vw;

    transition: all 0.3s ease;
}