.Journal{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.JournalContainer{
    
    width: 70vw;
    height: 80vh;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.JournalContainer > div{
    display: flex;
    background-color: rgba(0, 0, 0, 0.322);
    width: 70vw;
    height: 30vh;
    border-radius: 15px;
}

.Journal{
    margin-bottom: 30vh;
}
.Journal>div{
    /* width: 10vw; */
    padding: 3vw;
}

.Journal>div>a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 1vw;
    border-radius: 10px;
    background-color: rgb(45, 133, 37);
    margin-top: 1vh;
}
.Journal>img{
    width: 15vw;
    /* translate: -10vw; */
}